@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200&family=Ubuntu:wght@500&display=swap');

.detail-title {
    font-family: 'Ubuntu', sans-serif;
}

.details-header {
    font-size: 1.2em !important;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    font-weight: 1000;
    color: var(--color-blue);
}

.details-upload-text {
    font-family: 'Alexandria', sans-serif;
}

#plantdetails {
    width: 100%;
    height: auto;
    justify-content: center;
}

/* We access the loading icon here, just to move it so we can see it loading */
#plantdetails .optical-center {
    margin-top: 1em;
    position: relative;
    z-index: -1;
}

#plantdetails p {
    font-family: 'Alexandria', sans-serif;
}
