* {
  background-color: rgb(141, 141, 141);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.loginwindow {
  background-color: rgba(85, 255, 0, 0.406);
  display: flex;
  flex-direction: column;
  height: 500px;
  border-radius: 10px;
}
