@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.header-font-login {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 20px;
  font-weight: 1000;
  color: var(--color-blue);
  font-size: 1.5em;
  text-align: center;
}

.link-text span {
  text-decoration: underline;
  color: var(--color-red-dark);
  cursor: pointer;
}

.v-card.login-background {
  width: 75vh;
  background-color: var(--color-green);
  opacity: 1;
  background-image:
    linear-gradient(135deg, var(--color-green) 25%, transparent 25%),
    linear-gradient(225deg, var(--color-green) 25%, transparent 25%),
    linear-gradient(45deg, var(--color-green) 25%, transparent 25%),
    linear-gradient(315deg, var(--color-green) 25%, #2ed463 25%);
  background-position: 40px 0, 40px 0, 0 0, 0 0;
  background-size: 80px 80px;
  background-repeat: repeat;
}
