@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.header-font-profile {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 20px;
  font-weight: 1000;
  color: var(--color-turqoise-light);
  font-size: 1.5em;
  text-align: center;
}

.link-text span {
  text-decoration: underline;
  color: var(--color-red-dark);
  cursor: pointer;
}

.v-card.profile-background {
  width: 110vh;
}

.profile-small-background {
  height: 100%;
  width: 100%;
  max-height: 450px;
  max-width: 650px;
  z-index: -1;
}


.profilecard-margin-left {
  margin-left: 7vw;
}

.user-info {
  color: var(--color-turqoise-light);
  font-size: 0.8em;
}

.user-info.rank {
  color: var(--color-blue);
  font-size: 1em;
}

.header-description {
  font-size: 0.7em;
  color: gray;

}
