@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* pushes windows down so they are not covered by navbar*/
body {
  margin-top: 60px;
}

.nav-title {
  color: #0d0963;
  font-family: 'Pacifico', cursive;
}

.v-toolbar-items a {
  margin-right: 15px;
  color: #0d0963;
  opacity: 0.7;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
.v-toolbar-items a.router-link-active,
.v-toolbar-items a:hover {
  opacity: 1;
}
